# Notes:
# $(mix guardian.gen.secret) will generate a random string and echo it out into the secret and does not need to be modified.
# GUARDIAN_*_EXPIRY Is set in minutes
# 60 = 1 hr
# 525600 = 1 year

export APPLICATION_DOMAIN=example.com
export APPLICATION_SECRET=$(mix guardian.gen.secret)
export GUARDIAN_SECRET=$(mix guardian.gen.secret)
export DATABASE_HOSTNAME=localhost
export DATABASE_USERNAME=
export DATABASE_PASSWORD=
export DATABASE_NAME=
export GUARDIAN_REFRESH_EXPIRY=525600
export GUARDIAN_ACCESS_EXPIRY=60
